.content-title-card {
  height: 5rem;
  display: flex;
  align-items: center;
}

.background-image {
  background-image: url("../src/title-bg.gif");
  background-position: center;
  object-fit: cover;
  height: 50px;
}

img {
  width: 200px;
  height: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.carousel-container {
  max-width: 90%;
  margin: 5% auto;
  /* Center the carousel */
}

.card {
  background: #F9F9F9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  /* Smooth hover effect */
}

.card-view {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  margin: 5% auto;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.card:hover {
  transform: scale(1.05);
}

.card-container {
  padding: 20px;
}

.features-list li {
  font-size: 12px;
  color: white;
  margin-bottom: 10px;
}

.features-list1 li {
  font-size: 12px;
  color: black;
  margin-bottom: 10px;
}

.wrapdrive-container {
  height: 23rem;
  border-radius: 8px;
  border: 1px solid lightgray;
  padding: 10px;
}

.title {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
}

.intro,
.main-content,
.closing {
  font-size: 14px;
  line-height: 2;
  margin-bottom: 10px;
  font-weight: 500;
}

.features-list {
  list-style-type: disc;
  margin-left: 20px;
  line-height: 2;
}

.features-list1 {
  list-style-type: disc;
  margin-left: 20px;
  line-height: 2;
}

@media (max-width: 768px) {
  .wrapdrive-container {
    padding: 20px;
  }

  .title {
    font-size: 1.5rem;
  }

  .intro,
  .main-content,
  .closing {
    font-size: 1rem;
  }

  .features-list li {
    font-size: 1rem;
  }
}

.dot-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .dot-container {
    padding: 20px;
  }

  .title {
    font-size: 1.5rem;
  }

  .intro,
  .main-content,
  .closing {
    font-size: 1rem;
  }

  .features-list li {
    font-size: 1rem;
  }
}

.slick-prev,
.slick-next {
  color: black;
}

::-webkit-scrollbar {
  display: none;
}